# Default ignored files
/shelf/
/workspace.xml
# Environment variables
.env

# Python
venv/
__pycache__/
*.pyc

# Flutter
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS files
.DS_Store
Thumbs.db